.header {
  position: relative;
  display: block;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.listItem {
  color: #337ab7;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.active {
  color: #333 !important;
}